<div class="row">
    <div class="col-12 text-center p-2">
        <h4>All Products</h4>
    </div>
</div>

<div class="row">
    @for (item of listProduct; track 'productId') {
    <div class="col-3">
        <div class="box-shadow">
            <div class="card mt-5">
                <img class="img-fluid" appLazyImage [attr.data-src]="item.productImageUrl" src="" class="card-img-top"
                    alt="...">
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title" title="{{item.productShortName}}">{{item.productShortName}}</h5>
                        </div>
                        <div class="col-4 text-end">
                            <p class="card-text">
                                <span class="text-danger fw-semibold me-2">$ {{item.productPrice}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <button (click)="goToDetail(item)" class="btn text-center btn-sm btn-success p-2">detail</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>